.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  object-fit: contain;
  height: 200px;
  width: 200px;
}
.checkoutProduct__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.checkoutProduct__info {
  padding-left: 20px;
} 
.checkoutProduct__info > button {
  background-color:  #e99f31; 
  cursor: pointer;
  border: 1px solid;
  border-color: #a88734, #9c7e31, #846a29; 
  outline: none;
  margin-top: 20px;
  border-radius: 3px;
  height: 25px;
}
.checkoutProduct__info > button:hover {
  background-color: #ee9122;
}
.checkoutProduct__rating {
  display: flex;
}
