body {
  background-color: white;
}
.payment {
  width: 50%;
  height: 80vh;
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment__image {
  width: 120px;
  object-fit: contain;
  margin: auto 10px 0px auto;
}
.payment__container {
  width: 300px;
  display: flex;
  padding: 20px;
  margin-top: -20px;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.payment__container > h1 {
  text-align: center;
  font-weight: 500;
}
.payment__label {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 5px;
}
.payment__terms {
  margin-top: 10px;
  font-size: 13px;
}

.payment__toCart {
  font-size: 13px;
  background-color: #ffcb7d;
  cursor: pointer;
  border: 1px solid;
  border-color: #a88734, #9c7e31, #846a29;
  outline: none;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  color: #111;
}
.payment__toCart:hover {
  background-color: rgb(247, 181, 82);
}
button.StripeCheckout,
.stripe-button-el span {
  font-size: 13px;
  background-color: #ffcb7d !important;
  cursor: pointer;
  border: 1px solid;
  border-color: #a88734, #9c7e31, #846a29 !important;
  outline: none;
  height: 35px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  color: #111 !important;
}
